@tailwind base;
@tailwind components;
@tailwind utilities;

.raleway-<uniquifier> {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

@layer base {
  * {
    /* @apply transition-colors duration-100 ease-linear; */
    @apply font-[Raleway];
  }
}

.react-datepicker {
  @apply dark:bg-gray-800 dark:!text-white; /* Tailwind classes */
}

/* .react-datepicker__month-container{
  @apply dark:text-white;
} */

.react-datepicker__header {
  @apply dark:bg-gray-700;
}

.react-datepicker__day-name {
  @apply dark:text-gray-200;
}

.react-datepicker__current-month {
  @apply dark:text-gray-200;
}

.react-datepicker__day {
  @apply dark:text-gray-200 dark:hover:text-gray-700;
}

.react-datepicker__day--selected {
  @apply dark:bg-gray-100 dark:text-gray-700;
}

.react-datepicker__day--keyboard-selected {
  @apply dark:bg-gray-100 dark:text-gray-700;
}

